{% extends 'landing/base.html' %}

{% load static %}


{% block content %}
<!-- Grid row -->
<div class="row">

  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-4">
  
        <!--Card Regular-->
        <div class="card card-cascade">
    
          <!--Card image-->
          <div style="border-radius: 50%;" class="view view-cascade overlay">
            <img src="{% static 'images/image1.PNG' %}" class="card-img-top" alt="normal">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->
    
          <!--Card content-->
          <div class="card-body card-body-cascade text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Abhimanyu Rathore</strong></h4>
            <h5>CEO & Founder - Solar Study</h5>
    
            <p class="card-text">Previously worked with Maharashtra (India), Rajasthan (India) state governments, TATA STRIVE, and World bank (Suprabha Scheme in India). Awarded TimesNext Super30 for Solar Study. 
            If you're looking for strategic collaboration with Solar Study, he's the person you need to connect. 
              unnamed.png
            </p>
    
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
    
          </div>
          <!--/.Card content-->
    
        </div>
        <!--/.Card Regular-->
    
      </div>
      <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-4">
  
      <!--Card Regular-->
      <div class="card card-cascade">
  
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img src="{% static 'images/image2.PNG' %}" class="card-img-top" alt="normal">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
  
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Title-->
          <h4 class="card-title"><strong>Subrahmanyam Pulipaka</strong></h4>
          <h5>Instructor - Solar Study | CEO -NSEFI | BITS P</h5>
  
          <p class="card-text">Subrahmanyam is the youngest Chief Executive Officer of National Solar Energy Federation of India. Subrahmanyam, who is BITSAA Global 30 Under 30 Award recipient, is an alumnus of BITS Pilani in Electrical & Electronics Engineering and is one of the youngest winners of BRICS young scientist award - 2018. Well known Speaker at various Solar and RE events in India,Pulipaka represented India in various scientific and technology platforms worldwide including United States, China, Russia and Rwanda. With a research background in reliability of solar PV modules, he has published around 15 research articles in internationally acclaimed journals. He is also the founding chairman of India Africa Youth Energy Forum, a platform dedicated to nurture future energy leaders in the Indian subcontinent and African continent. 
          </p>
  
          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
  
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card Regular-->
  
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-4">
  
        <!--Card Regular-->
        <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view view-cascade overlay">
            <img src="{% static 'images/image3.PNG' %}" class="card-img-top" alt="normal">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->
    
          <!--Card content-->
          <div class="card-body card-body-cascade text-center">
            <!--Title-->
            <h4 class="card-title"><strong>Dinesh Kumbharwar</strong></h4>
            <h5>Instructor - Solar Study | Certified NABCEP PV Associate | M.tech - IIT Bombay | IISc | VNIT </h5>
    
            <p class="card-text">Experienced Solar PV Engineer working as Assistant Manager (Engineering & Projects) at Solar firm. Executed around 1.5 MW of rooftop solar on-grid projects during the last 2 years of work tenure with Project Management. Strong technical professional with a Master of Technology focused in Energy System Engineering from the Indian Institute of Technology, Bombay, and Bachelor in technology in Electrical and Electronics from Visvesvaraya National Institute of Technology Nagpur. 
            </p>
    
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small"></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
    
          </div>
          <!--/.Card content-->
    
        </div>
        <!--/.Card Regular-->
    
      </div>
      <!-- Grid column -->


  </div>
  <!-- Grid row -->

  {% endblock %}