{% extends 'landing/base.html' %}

{% block content %}


<div class="container-fluids">
<h1 align="center">Welcome to Solar Study, logged in USer</h1>
    <h2 align="center">Want to teach at Solar study??</h2>
    <div class="container">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title"> Your Courses </h4> <!-- yaha pe total no. of courses with option of view. on clicking view give an option to edit and update the course-->
    </div></div>
    <div class="row">
    <div class="col-lg-6">
    <button class="btn btn-primary">Instructor Details</button>
    </div>

    <div class="col-lg-6">
    <a class="btn btn-primary" href="/instructor/courseupload">Create a new Course here</a>


    </div>
    </div>
    </div>


</div>
<div>

</div>

{% endblock %}